.card_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  overflow: hidden;
  transition: 0.3s;
  animation: ease-in-out;
  background-color: var(--button);
  color:var(--letter);


}
.card_container:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;

}

.image_container{
 
  overflow: hidden;
  height: 200px;
  width: 200px;
}

.card_content{
  margin: 1rem;
  margin-top: 0.3rem;
  
}

.card_title{
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
}

.card_body{
  display: flex;
  justify-content: center;
}
.card_body > a {
  color:var(--letter);

}