.container_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--button-color);
  color: #fff;
}

.container_header > ul {
  display: flex;
  margin: auto;
  gap: 29px;

  

}

.container_header > li > a {
  color: var(--letter-secundary);
  color: #fff;


}