.container{
    display: grid;
    grid-template-rows: repeat(3, 70vh), auto;
    grid-row-gap: 6em;

}

.apresentacao_container{
    border: 1px solid #000;
}
.quemsomos_container{
    border: 1px solid #000;
}
.servico_container{
    border: 1px solid #000;
}
.planos_container{
    border: 1px solid #000;
}
